::-webkit-scrollbar {
    width: 0.7vw;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f511;
}

::-webkit-scrollbar-thumb {
    background-color: #9595955f;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffffc9;
}
