.nav-bar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
.nav-bar button,
.nav-bar a,
.nav-bar input,
.nav-bar [role="button"] {
  -webkit-app-region: no-drag;
}

.some{
  background-color: #212121;
}